@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600&display=swap");

* {
  font-family: "Lexend", Arial, Helvetica, sans-serif;
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(88, 183, 191, 1) 0%,
    rgba(103, 144, 182, 1) 100%,
    rgba(145, 39, 157, 1) 100%,
    rgba(13, 26, 227, 0.9906337535014006) 100%,
    rgba(55, 57, 7, 1) 100%,
    rgba(7, 187, 167, 1) 100%
  );
}

.mainTitle {
  font-size: 50px;
  color: white !important;
}

.bg-blue {
  background-color: rgb(45, 45, 179) !important;
}
.bg-navbar {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(88, 183, 191, 1) 0%,
    rgba(103, 144, 182, 1) 100%,
    rgba(145, 39, 157, 1) 100%,
    rgba(13, 26, 227, 0.9906337535014006) 100%,
    rgba(55, 57, 7, 1) 100%,
    rgba(7, 187, 167, 1) 100%
  );
  border-bottom: 3px white dashed;
}
.text-yellow {
  color: rgb(216, 180, 22) !important;
}

.cartList {
  width: 95% !important;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.26);
}

.imageIcon1 {
  width: 45% !important;
  height: 50% !important;
  position: relative !important;
  margin-left: 80px;
  border-radius: 10px;
}

.imageIcon2 {
  border-radius: 30% !important;
  width: 10% !important;
  height: 10% !important;
  display: inline-block !important;
}

.itemCard {
  margin-top: 30px !important;
  height: 370px !important;
  width: 300px !important;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.26);
}

.quantityBubble {
  background-color: rgb(255, 255, 255);
  height: 30px;
  width: 30px;
  font-size: large;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  color: rgb(230, 66, 54);
  box-shadow: 4px 4px 2.2px 0px rgba(0, 0, 0, 0.30);
}

#floatingCart {
  font-size: 40px;
  color: rgb(235, 202, 13) !important;
  display: flex;
  float: inline-end;
}

.fa-shopping-cart:hover {
  font-size: larger;
  cursor: pointer;
  color: rgb(230, 230, 19) !important;
}

.floatContainer {
  position: fixed;
  left: 40px;
  margin-top: 150px;
}