@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600&display=swap");

* {
  font-family: "Lexend", Arial, Helvetica, sans-serif;
}

body {
  background: rgb(63, 186, 202) !important;
}

.mainTitle {
  font-size: 40px;
  color: white !important;
}

.bg-blue {
  background-color: rgb(45, 45, 179) !important;
}
.text-yellow {
  color: rgb(216, 180, 22) !important;
}

.cartList {
  width: 95% !important;
}

.imageIcon1 {
  width: 45% !important;
  height: 50% !important;
  position: relative !important;
  margin-left: 80px;
  border-radius: 10px;
}

.imageIcon2 {
  border-radius: 30% !important;
  width: 10% !important;
  height: 10% !important;
  display: inline-block !important;
}

.itemCard {
  margin-top: 30px !important;
  height: 370px !important;
  width: 300px !important;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.26);
}

.quantityBubble {
  border: 2px solid white !important;
  background-color: red;
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 50%;
  color: white;
}
